* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

section {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.form {
  width: 100%;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 50px;
}

input {
  width: 100%;
  border: 0px;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

#todos {
  width: 100%;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
}

.todo {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="checkbox"] {
  width: 50px;
}

#error {
  display: none;
  color: tomato;
  line-height: 40px;
  text-align: center;
}

.finished {
  text-decoration: line-through;
}
